<mat-form-field class="input">
  <input name="city"
         placeholder="City or city id" matInput type="text"
         [formControl]="city" required>
</mat-form-field>

<section *ngIf="weather$ | async as weather"
         class="weather">
  <section class="main">
    <div class="city-temp">
      <img class="weather-icon" [src]="iconUrl + weather.weather[0].icon + '.png'"
           [alt]="weather.weather[0].description">
      {{weather.main.temp.toFixed(1)}} &#176;C
    </div>
    <div class="city-name">{{weather.name}}, {{weather.sys.country}}</div>
    <div class="city-row">ID: {{weather.id}}</div>
    <div class="city-row">
      {{weather.weather[0].description}},
      <span class="bold">{{weather.main.temp_min.toFixed(1)}}&#176;C</span> to
      <span class="bold">{{weather.main.temp_max.toFixed(1)}}&#176;C</span>
    </div>
    <div class="city-span">Pressure:
      <span class="bold">{{weather.main.pressure}}hPa</span>
    </div>
    <div class="city-span">Humidity:
      <span class="bold">{{weather.main.humidity}}%</span>
    </div>
  </section>

  <section class="city-row">
    Lon. <span class="bold">{{weather.coord.lon}}</span>
    Lat. <span class="bold">{{weather.coord.lat}}</span>
  </section>

  <section class="conditions">
    <div class="city-span">Visibility:
      <span class="bold">{{weather.visibility}}m</span>
    </div>
    <div class="city-span">
      Clouds:
      <span class="bold">{{weather.clouds.all}}%</span>
    </div>
    <div class="city-row">
      Weather type:
      <span class="bold">{{weather.weather[0].main}}</span>
    </div>
  </section>

  <section class="wind">
    Wind
    <div class="city-row">
      <span class="city-span bold">{{weather.wind.speed}}m/s</span>
      <span class="city-span bold">{{weather.wind.deg}}deg</span>
    </div>
  </section>

  <section class="daytime">
    <div class="city-row daytime">
      Daytime
      <span class="bold sun">{{weather.sys.sunrise * 1000 | date: 'shortTime'}}</span>
      to
      <span class="bold">{{weather.sys.sunset * 1000 | date: 'shortTime'}}</span>
    </div>
    <div>Updated at {{weather.dt * 1000 | date: 'mediumTime'}}</div>
  </section>
</section>

<div class="error" *ngIf="error">{{error}}</div>
